html,body{
  text-align:center;
  min-width:260px;
  color:#333;
}
#main{
  margin:30px auto;
  padding:15px;
  border:0px solid;
  border-radius:5px;
  background:#eee;
}
img{
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}
#img-words{
  margin:-5px;
  margin-top:20px;
  width:100%;
  border:5px solid white;
  background:white;
}
#words{
  margin:15px;
}
#ziliao-jieshao{
  margin-top:50px;
  text-align:left;
}
ul{
  max-width:550px;
  margin:0 auto;
  text-align:left;
}
p{
  margin: 10px;
  text-align: left;
}
